
form.VoteForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.vote-input {
    width: 100%;
    margin: 10px;
    padding-left: 0px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    background: #03e9f4;
    margin-top: 10px;

}

@media screen and (min-width: 1200px) {
    form {
        width: 80%;

    }
    .vote-input {
        width: 100%;

    }
}