.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

a, h1, h2, h4, p {
  color: #000055;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0;
  font-family: 'Kanit', sans-serif;
}

h3 {
  text-align: center;
}

h4 {
  color: red;
  font-size: 1.3rem;
}

 a{
  margin: 10px;
  text-align: center;
  align-self: center;
  text-decoration: none;
  margin-bottom: 10px;
  font-family: 'Kanit', sans-serif;
  font-size: .7em;
}

img {
  width: 50%;
}

div.Nav{
  text-align: center;
}

section {
  background-color: #960000;
}

main, .election-card {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffffe0;
  padding: 0px;
 
}

div.scorecard-entry {
margin-top: 10px;
background-color: #960000;
display: flex;
}

div.Content {
 display: flex;
 flex-direction: column;

}

.light{
  color: #ffffffe0;
}

div.stats {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

label {
  color: white;
}

.vote-link {
display: flex;
align-content: center;
justify-content: center;
margin: 20px;
font-size: 1.5rem;
font-family: 'Kanit', sans-serif;
}

.vote-link:hover {
  background-color: #000055;
  color: #ffffffe0;
}

.vote-link-button-group {
  display: flex;
}

form {
  background-color: #960000;
  color: #ffffffe0;
}

input[type=radio] {
  font-size: 1.2em;
  height: 1em;
  width: 1em;
}

button {
  color: #000055;
  border-color: #ffffff00;
  border-radius: 5px;
  font-size: 1.2em;
  background-color: #ffffff;
  font-family: 'Kanit', sans-serif;
  border: none;
  
}

button:hover {
  color: white;
  background-color: #ffffff;
  font-family: 'Kanit', sans-serif;
  border: none;
}

.logout-button:hover {
  color: #960000; 
  background-color: #ffffff;
  font-family: 'Kanit', sans-serif;
  border: none;
}



@media screen and (min-width: 480px) {
  main {
    width: 80%;
    /* background-color: lightgreen; */
  }

  img {
    width: 30%;
  }
 
  .scorecard-entry {
    display: flex;
  }

  a{
    
    font-size: 1.3em;
  }

  h4.light {
    font-size: 3em;
  }

  p.light {
    font-size: 2.2em;
  }
}