.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

a, h1, h2, h4, p {
  color: #000055;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  text-align: center;
}

h4 {
  color: red;
}

a{
  margin: 10px;
  text-align: center;
  align-self: center;
  text-decoration: none;
  margin-bottom: 10px;
}

img {
  width: 25%;
}

div.Nav{
  text-align: center;
}

section {
  background-color: #960000;
}

main {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffffffe0;
  padding: 0px;
 
}

div.scorecard-entry {
margin-top: 10px;
background-color: #960000;
}

div.momentum {
 
}

@media screen and (min-width: 480px) {
  main {
    width: 80%;
    /* background-color: lightgreen; */
  }

  img {
    width: 50%;
  }
 
  .scorecard-entry {
    display: flex;
  }
}