
p.light{
    color: #243b55;
}

.election-img{
    width: 50%;
}

@media screen and (min-width: 1200px) {
    .scorecard-entry {
    box-shadow: 2px 2px 12px 3px rgba(255, 255, 255, 0.76);
    width: 40%;
    }

    .election-img{
        width: 100%;
    }

    .election-cards {
        display: flex;
        flex-direction: row;
    }

}